body {
  background-color: #f8cb9c;
  color: #fff;
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}
h1,
h3 {
  color: #f8cb9c;
}

h3,
p {
  padding-left: 40px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(151, 17, 17);
  text-align: center;
}

ul,
ol,
h3,
p {
  text-align: left;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: #fff;
  color: black;
  display: inline-block;
  padding: 10px 20px;
}

.image-container {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}
