body {
  background-color: rgb(151, 17, 17);
  color: white;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 48px;
}

a {
  text-decoration: none;
  color: black;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  border: 1px solid black;
  background-color: white;
}

.recipes-container {
  display: flex;
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  height: 270px;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recipe-image-container {
  width: 200px;
  height: 200px;
}

.recipe-image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid coral;
}
